.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.DS_Store
R/hello.R
R/paralogs.R
*.xml
vignettes/CoV_density.png
vignettes/sce04213.png
vignettes/sce00020.pathview.pdf
vignettes/sce00020.pathview.png
vignettes/sce00020.png
vignettes/sce04213.pathview.pdf
vignettes/sce04213.pathview.png
man/hello.Rd
oldNAMESPACE
